In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
import lxml

In [27]:
ua = UserAgent()
fake_ua = {'user-agent': ua.random}


url_list = [f'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page={i}&perpage=10000&sortField=&sortOrder=&get=1' for i in range(1, 14)]
url_list

['https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=1&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=2&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=3&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=4&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=5&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=6&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=7&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=8&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=9&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=10&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=11&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=12&perpage=10000&sortField=&sortOrder=&get=1',
 'https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page=13&perpage=10000&sortField=&sortOrder=&get=1']

In [28]:
response = requests.get(url='https://www.tender.gov.mn/mn/result/?year=allYear&tenderCode=undefined&page={i}&perpage=10&sortField=&sortOrder=&get=1', headers=fake_ua)
response.encoding = 'utf-8'
soup = BeautifulSoup(response.text, 'lxml')
headers = [txt.text.strip() for txt in soup.find('table', class_='table sortable').find_all('th')]

In [29]:
data = pd.DataFrame(columns=headers)
data

Empty DataFrame
Columns: [Урилгын дугаар, ТШ-ын код, Тендер шалгаруулалтын нэр, Захиалагчийн нэр, Төсөвт өртөг, Нээсэн огноо, Төлөв]
Index: []

In [30]:
def crawler(url):
    response = requests.get(url=url, headers=fake_ua)
    response.encoding = 'utf-8'

    soup = BeautifulSoup(response.text, 'lxml')

    table = soup.find('table', class_='table sortable')
    table = table.find('tbody')
    for i in  table.find_all('tr'):
        row_list = i.find_all('td')

        row = [txt.text.strip() for txt in row_list]
        length = len(data)
        data.loc[length] = row

In [31]:
for url in url_list:
    try:
        crawler(url)
    except Exception as e:
        pass

In [59]:
data

,Урилгын дугаар,ТШ-ын код,Тендер шалгаруулалтын нэр,Захиалагчийн нэр,Төсөвт өртөг,Нээсэн огноо,Төлөв
0,ХОАДӨСЗДТГ/202301002/01/01,ХОАДӨСЗДТГ/202301002,Соёлын төвийн сандал шинэчлэх,Ховд аймгийн Дөргөн сумын засаг даргын тамгын ...,"30,000,000₮",2023-05-19 15:20,Нээгдсэн
1,СЭАОНӨГ/202312072/01/01,СЭАОНӨГ/202312072,Өндрийн усан сан байгуулах /Орхон сум/,Сэлэнгэ аймгийн Орхон сумын Засаг даргын тамгы...,"400,000,000₮",2023-05-19 15:15,Нээгдсэн
2,ННҮГ/202302001/01/01,ННҮГ/202302001,Хоол хүнсний бараа бүтээгдэхүүн худалдан авах,Нийслэлийн нийтлэг үйлчилгээний газар,"1,300,000,000₮",2023-05-19 14:35,Нээгдсэн
3,ДАА1ЦЭ/202301001/04/01,ДАА1ЦЭ/202301001,Хүүхдийн хоолны хүнсний материал худалдан авах,Дархан-Уул аймаг 1-р цэцэрлэг,"62,620,400₮",2023-05-19 14:30,Нээгдсэн
4,ДУГАГУСЗДТГ/202312002/01/01,ДУГАГУСЗДТГ/202312002,Багш нарын байрыг засварлах,Дундговь аймгийн Говь-Угтаал сумын Засаг даргы...,"135,000,000₮",2023-05-19 14:30,Нээгдсэн
...,...,...,...,...,...,...,...
122884,ШС/07,ШС/07,Төв аймгийн Хүүхдийн ордны засвар,Төв аймгийн засаг даргын тамгийн газар,"150,000,000₮",2011-04-01 10:30,Үр дүн гарсан
122885,НТШ/11/03,НТШ/11/03,Зуунмод сумын ЗДТГ-ын конторын засвар,Төв аймгийн засаг даргын тамгийн газар,"89,000,000₮",2011-04-01 00:00,Үр дүн гарсан
122886,r-УВЗТТ-04/2013,r-УВЗТТ-04/2013,r-Увс Аймагт хэрэгжих барилга их засварын зура...,Увс аймгийн Засаг даргын тамгын газар,"28,000,000₮",1901-01-01 00:00,Үр дүн гарсан
122887,1111,ТТБ1/201600002,40 айлийн орон сууц,Тестийн төрийн байгууллага,0₮,1899-12-31 16:00,Үр дүн гарсан
122888,1111,ТТБ1/201600002,40 айлийн орон сууц,Тестийн төрийн байгууллага,0₮,1899-12-31 16:00,Үр дүн гарсан

In [100]:
data.to_csv('tender_gov.csv', index=False)

In [3]:
mydata2 = pd.read_csv('tender_gov.csv')

In [4]:
fd  = mydata2['Төсөвт өртөг']
fdf = mydata2['Төлөв']
fdf.value_counts()

Үр дүн гарсан                114487
Нээгдсэн                       6306
Хянан үзсэн                    1292
Хүчингүй болгосон               354
Хүчингүй болсон                 129
Тендер хүлээн авч байгаа        119
Гомдол үндэслэлтэй              103
Хураангүй жагсаалт үүссэн        56
Амжилтгүй болсон                 39
Илгээгдсэн                        2
Нийтлэгдсэн                       1
Name: Төлөв, dtype: int64

In [5]:
def replaced(string):
    try:
        str_replace = string.replace("₮", "").replace(',','')
        return int(str_replace)
    except Exception:
        return string

In [6]:
fd = fd.apply(replaced)
fd = pd.DataFrame(fd)
fd = fd.dropna()
fd

       Төсөвт өртөг
0          30000000
1         400000000
2        1300000000
3          62620400
4         135000000
...             ...
122885    150000000
122886     89000000
122887     28000000
122888            0
122889            0

[122889 rows x 1 columns]

In [7]:
fd[0:35783].sum() + fd[35784:122888].sum()

Төсөвт өртөг    87691506873748
dtype: object

In [ ]:
87 691 506 873 748